server:
  port: 8082

spring:
  datasource:
    url: ${database.url}
    username: ${database.username}
    password: ${database.password}
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  application:
    name: file-service
  devtools:
    livereload:
      port: 35732
  kafka:
    bootstrap-servers: ${BOOTSTRAP_SERVERS_CONFIG}
    consumer:
      properties:
        session:
          timeout:
            ms: 60000
        reconnect:
          backoff:
            ms: 1000
            max:
              ms: 20000

management:
  server:
    port: 8082
  metrics:
    tags:
      application: ${spring.application.name}
  endpoints:
    prometheus:
      access: unrestricted
    web:
      exposure:
        include: prometheus,health,info

database:
  url: ${POSTGRES_URL}
  username: ${POSTGRES_USER}
  password: ${POSTGRES_PASSWORD}